body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 150%;
}

.item-list {
    width: fit-content;
    height: 15em;
    display: flex;
}

.item-list .item {
    background: #aaa;
    border: white 1px solid;
    padding: 1em;
}
